@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }
}

html .ball {
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  --tw-translate-x: 0px;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

html.dark .ball {
  --tw-translate-x: 1.5rem;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* Fonts start*/
.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-two-regular-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lobster-two-bold {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}
/* Fonts End */

.custom-shape-divider-bottom-1716888327 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100svw;
  overflow: hidden;
  line-height: 0;
  transform: rotateX(180deg);
}

.custom-shape-divider-bottom-1716888327 svg {
  position: relative;
  display: block;
  width: 2000px;
}

.custom-shape-divider-bottom-1716888327 .shape-fill {
  fill: #ffffff82;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
.scrollbar::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
  background-color: #fff;
}
.scrollbar::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
  display: none;
}

/* div box */
body {
  background-color: #babac0;
}
.scrollbar {
  height: 75vh;
  width: 25vw;
  min-width: 150px;
  background: #fff;
  overflow-y: scroll;
}
.overflow {
  min-height: 100vh;
}

/* Animations */

@keyframes motion {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translate(-15px, -15px);
  }

  50% {
    transform: translate(-8px, -8px);
  }

  75% {
    transform: translate(-15px, 8px);
  }

  100% {
    transform: translateY(0);
  }
}
.animate-motion {
  animation: motion 7s infinite !important;
}

@keyframes dz {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(-15px);
  }

  50% {
    transform: translate(-8px);
  }

  75% {
    transform: translate(-15px);
  }

  100% {
    transform: translate(0);
  }
}

.animate-dz {
  animation: dz 7s infinite !important;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-25px);
  }

  50% {
    transform: translateY(-15px);
  }

  75% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}
.animate-move {
  animation: move 7s infinite !important;
}

/* Animations */
