@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }
}

html .ball {
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  --tw-translate-x: 0px;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

html.dark .ball {
  --tw-translate-x: 1.5rem;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* Fonts start*/
.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-two-regular-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lobster-two-bold {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}
/* Fonts End */

.lamp {
  position: fixed;
  transform: rotate(80deg);

  left: 73%;
  top: 80%;
  height: 100svh;
  width: 100svw;
}

.lava {
  position: absolute;
  opacity: 0.4;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  border-radius: 43%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.lava.-one {
  animation: rotate 10000ms infinite linear;
  opacity: 5%;
  background: white;
}

.lava.-two {
  animation: rotate 6000ms infinite linear;
  opacity: 10%;
  background: white;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
.scrollbar::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
  background-color: #fff;
}
.scrollbar::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
  display: none;
}

/* div box */
.scrollbar {
  height: 75vh;
  width: 25vw;
  min-width: 150px;
  background: #fdefbd;
  overflow-y: scroll;
}

.wave {
  height: 500px;
  transform: rotateX(180deg);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='#ffffff21' stop-opacity='.05' offset='0%25'/%3e%3cstop stop-color='#ffffff21' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='#ffffff4a' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='#ffffff21' stop-opacity='.05' offset='0%25'/%3e%3cstop stop-color='#ffffff21' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='#ffffff4a' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='#ffffff21' stop-opacity='.05' offset='0%25'/%3e%3cstop stop-color='#ffffff21' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='#ffffff4a' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='#ffffff21' stop-opacity='.05' offset='0%25'/%3e%3cstop stop-color='#ffffff21' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='#ffffff4a' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e");
  background-repeat: repeat-x;
  background-size: 1600px 50%, 1600px 45%, 1600px 55%, 1600px 40%;
  background-position: 0 130%, -250px 130%, 500px 130%, 700px 130%;

  animation: 20s waves linear infinite forwards;
}

/* Animations */
@keyframes wave {
  0% {
    transform: translateY(200px);
  }
  25% {
    transform: translateY(0px) rotate(10deg);
  }
  75% {
    transform: translateY(0px) rotate(-10deg);
  }
  100% {
    transform: translateY(200px);
  }
}

.animate-wave {
  animation: wave 3s infinite ease-in-out;
}

@keyframes waves {
  to {
    background-position: 1600px 130%, 3150px 130%, 5300px 130%;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(2rem);
  }
}

.animate-ease-in-out {
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.animate-once {
  animation-iteration-count: 1;
}

.animate-fade-up {
  animation: fade-up 1s both;
}
.animate-fade-down {
  animation: fade-down 1s both;
}

@keyframes motion {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translate(-15px, -15px);
  }

  50% {
    transform: translate(-8px, -8px);
  }

  75% {
    transform: translate(-15px, 8px);
  }

  100% {
    transform: translateY(0);
  }
}
.animate-motion {
  animation: motion 7s infinite !important;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-25px);
  }

  50% {
    transform: translateY(-15px);
  }

  75% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}
.animate-move {
  animation: move 7s infinite !important;
}

/* Animations */

/* Blob Pit */
.blobpit {
  height: 500px;
  width: 2000px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
.blobpit::before,
.blobpit::after {
  content: "";
  width: 500px;
  height: 500px;
  position: absolute;
  background: rgba(251, 170, 45, 0.44);
  /* background: rgba(253, 239, 189, 0.22); */
  left: -200px;
  top: -200px;
  animation: morph 15s linear infinite alternate, spin 20s linear infinite;
  z-index: 1;
  will-change: border-radius, transform;
  transform-origin: 55% 55%;
  pointer-events: none;
}
.blobpit::after {
  width: 500px;
  height: 500px;
  left: auto;
  right: -100px;
  top: auto;
  bottom: 0;
  animation: morph 10s linear infinite alternate,
    spin 26s linear infinite reverse;
  transform-origin: 20% 20%;
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

/* Blob Pit */
